/* App.css */

/* custom cursor */
.custom-cursor {
  width: 20px;
  height: 20px;
  mix-blend-mode: difference;
  position: fixed;
  background: #fff;
  border-radius: 50%;
  pointer-events: none; /* Prevent cursor from blocking other elements */
  transition: transform 0.1s ease, background-color 0.1s ease;
  transform: translate(-50%, -50%);
}

.hovered {
  transform: translate(-50%, -50%) scale(6); /* Scale 600% while keeping the position centered */
}

.hover-target {
  cursor: none; /* Hide the default cursor when over these elements */
}

/*  */
